@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
html{
  font-size: 100%;
}
html, body{
  min-width: fit-content;  
}
body {
  width: 100vw;
  background: rgb(var(--background));
  font-family: Poppins, sans-serif;
  color: rgb(var(--text-color));
  overflow-x: hidden;  
}
a{
  text-decoration: none;
  color: inherit;
}
input{
  padding: 1.2rem 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background: rgb(236 236 236 / 1);
  border-radius: 12px;
  transition: all 0.1s linear;
}
input:focus{
  box-shadow: 0 0 10px 1px rgb(121 121 121 / 0.4);
}

.transparentPokeball{
  position: absolute;
  height: 200px;
  right: -60px;
  top: -50px;
  opacity: 0.33;
  z-index: 0;
  filter: brightness(0.5);
  z-index: 0;
}

:root{
  --background: 255, 255, 255;
  --text-color: 0, 0, 0;
}