.wrapper{
  width: 100%;
  height: 100vh;
  position: relative;
  
  padding: 3.5rem 1.7rem;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 2rem;

  background: rgb(100 100 100 / 3%);
  overflow-x: hidden;

  h2{
    font-weight: 700;
    font-size: 2rem;
  }
}

.linksContainer{
  width: clamp(300px, 100%, 750px);
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4%;
}