.pokeProfileWrapper{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgb(var(--color));

  z-index: 2;

  .upperSection{
    width: 100%;
    position: relative;

    padding: 2.3rem 1.4rem 0 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .backArrow{
      font-size: 2.1rem;
      color: rgb(255,255,255);
      cursor: pointer;
    }

    .transparentSquare{
      width: 120px;
      height: 100px;
      left: -25px;
      top: -20px;
      position: absolute;

      border-radius: 20px;
      background-image: linear-gradient(to bottom, rgba(255,255,255,0.17), rgba(255,255,255,0.17), rgba(255,255,255,0.07),);
      transform: rotate(-15deg);
      z-index: -1;
    }
  }

  .headerInfo{
    padding: 0 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    section{
      width: 100%;
      display: flex;
      justify-content: space-between;

      h1{
        font-size: 2rem;
      }
  
      h4{
        font-size: 1.1rem;
        align-self: flex-start;
        margin-left: auto;
        transform: translateY(15px);
      }
    }    

    .typesContainer{
      display: flex;
      gap: 0.4rem;

      span{
        padding: 0.3rem 1.2rem;
        font-size: 0.75rem;
        border-radius: 20px;
        background-color: rgba(255,255,255,0.25);
      }
    }

    .imagesContainer{
      width: 100%;
      position: relative;
      display: flex;

      .pokeImage{
        height: 200px;
        margin: 0 auto;
        z-index: 2;
      }

      .pokeball{
        width: 175px;
        right: -70px;
        position: absolute;
        opacity: 0.5;
        z-index: -1;
      }
    }
  }
  .mainContainer{
    width: 100%;
    flex: 1;
    padding: 0.5rem 1.7rem 2rem 1.7rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    border-radius: 20px 20px 0 0;
    background-color: white;
    overflow-y: scroll;    

    header{
      display: flex;
      flex-direction: column;
      // gap: 1.5rem;

      ul{
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        list-style: none;

        li{
          cursor: pointer;
          opacity: 0.55;
          // background: orchid;
          padding: 1.5rem 0;

          &.active{
            font-weight: 700;
            opacity: 1;
            border-bottom: solid 1px deepskyblue;
          }
        }
      }

      .barContainer{
        width: 100%;
        height: 1px;
        margin-top: -1px;
        background: rgb(100 100 100 / 20%);

        .bar{
          width: 17%;
          height: 100%;
          background: deepskyblue;
        }
      }
    }
  }
}

.contentContainer{
  width: 100%;
  // min-height: 320px;
  max-height: 320px;
  position: relative;
  margin-top: 2rem;
  // background-color: lightcoral;
  overflow: auto;

  .page{
    width: 100%;
    height: 100%;
    // background-color: deepskyblue;
    display: none;
    flex-direction: column;
    gap: 0.7rem;

    &.active{
      display: flex;
    }

    div{
      // background: coral;
      display: flex;

      span{
        flex: 1;
        opacity: 0.7;
      }

      p{
        flex: 2;
      }      
    }

    h3{
      opacity: 0.85;
      margin: 0.7rem 0 0.3rem 0;
    }
  }
}